.bloco1 {
  padding-top: 100px;
  background: url("../imgs/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


h2 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: -30px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  color: #ffffff;
      font-weight: bold;
}

p {
  word-wrap: break-word;
  color: #ffffff;
   font-size: 20px;
}
.menu {
  margin: 10px;
  width: 300px;
  padding-right: 40px;
  padding-top: 0px;
}

.fig-capa {
  margin-top: 40px;
  margin-bottom: 40px;
}

.titulo {
  font-size: 50pt;
  color: #ffffff;
  font-weight: bold;
}

.titulo2 {
  font-size: 38pt;
  margin-top: -5px;
  color: #ffffff;
  font-weight: bold;
}

.play {
  list-style-image: url(../imgs/icone-play.png);
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.normal {
  list-style-image: unset;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

iframe {
  background: url("../imgs/icone-play-pequeno.png") no-repeat center;
  background-color: #81473b;
  margin: auto;
  border: none;
  width: 400px;
  height: 600px;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}

.conteudo {
  max-width: 1280px;
  margin: auto;
}

.linha {
  border-left: 1px solid #ffffff;
  padding-left: 50px;
}

@media screen and (max-width: 480px) {
  .titulo {
    font-size: 40px;
  }

  .menu {
    margin: 50px;
  }
}