body{overflow-x: hidden;}
h1,
h3,
h2,
h4 {
  color: #66a1a1;
  font-weight: bold;
}

p {
  font-size: 20px;
  word-wrap: break-word;
}

h2 {
  font-size: 38px;
  margin-bottom: -30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.modal-c {
  padding-right: 170px;
}

.botao-fechar {
  background: url("../imgs/modal_fechar.png");
  width: 238px;
  height: 76px;
  border: none;
}

.botao-fechar:hover {
  background: url("../imgs/modal_fechar_hover.png");
  width: 238px;
  height: 76px;
  border: none;
}
.grupo-imprimir button.bto-imprimir {
  margin-top: 20px;
}
.bloco-1 {
  background: url("../imgs/BG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.b1{
  margin-top: 60px;
  padding-bottom: 60px;
  background: rgba(255,255,255,0.6);
  max-width: 95%;
  margin-right: 0;
  margin-left: auto;
}

.btn-m {
  width: 126px;
  height: 163px;
  border: none;
  margin-top: 60px;
  transition: all .4s;
  cursor: url(../imgs/cursor_painel.png), auto;
}

.painel1 {
  background: url(../imgs/img_mobile.png);
  display: flex;
  width: 765px;
  position: relative;
  z-index: auto;
  height: 897px;
  margin-top: 112px;
  padding-right: 191px;
  padding-left: 225px;
  margin-left: -22px;
  align-items: center;
  cursor: url(../imgs/cursor_painel.png), auto;
}

.btn-1 {
  background: url("../imgs/painel_bt1.png") no-repeat;
}

.btn-2 {
  background: url("../imgs/painel_bt2.png") no-repeat;
}

.btn-3 {
  background: url("../imgs/painel_bt3.png") no-repeat;
  height: 210px;
}

.btn-4 {
  background: url("../imgs/painel_bt4.png") no-repeat;
  height: 210px;
}

.btn-5 {
  background: url("../imgs/painel_bt5.png") no-repeat;
}

.btn-6 {
  background: url("../imgs/painel_bt6.png") no-repeat;
}

.btn-1:hover {
  background: url("../imgs/painel_bt1_hover.png") no-repeat;
}

.btn-2:hover {
  background: url("../imgs/painel_bt2_hover.png") no-repeat;
}

.btn-3:hover {
  background: url("../imgs/painel_bt3_hover.png") no-repeat;
  height: 210px;
}

.btn-4:hover {
  background: url("../imgs/painel_bt4_hover.png") no-repeat;
  height: 210px;
}

.btn-5:hover {
  background: url("../imgs/painel_bt5_hover.png") no-repeat;
}

.btn-6:hover {
  background: url("../imgs/painel_bt6_hover.png") no-repeat;
}


.modal_01 {
  background: url("../imgs/bg_modal1.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  background-attachment: fixed;
}

.modal_02 {
  background: url("../imgs/bg_modal2.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  background-attachment: fixed;
}

.modal_03 {
  background: url("../imgs/bg_modal3.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  background-attachment: fixed;
}

.modal_04 {
  background: url("../imgs/bg_modal4.png"),
    url("../imgs/bg_modal4.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  background-attachment: fixed;
}

.modal_05 {
  background: url("../imgs/bg_modal5.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  background-attachment: fixed;
}

.modal_06 {
  background: url("../imgs/bg_modal6.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  background-attachment: fixed;
}

.titulo_modal {
  border-bottom: 2px solid #66a1a1;
}

/* personalização modal 100% */
button.close {
  background: url(../imgs/ico_fechar.png) no-repeat;
  width: 101px;
  height: 101px;
  opacity: unset;
}

@media screen and (max-width: 1500px) {
  .painel1{
    transform: scale(0.7);
    margin-left: -20%;
  }
}
@media screen and (max-width: 1024px) {
  .painel1{
    transform: scale(0.8);
    margin-left: auto;
  }
  .modal-c {
    padding-right: 263px;
  }
}

@media screen and (max-width: 600px) {

  .painel1 {
    background: unset;
    display: flex;
    width: unset;
    height: unset;
    margin-top: unset;
    padding-right: 40px;
    padding-left: 40px;
    align-items: center;
    cursor: unset;

  }

  .modal-c {
    padding-right: unset;
  }











}