@font-face {
  font-family: sourcesans-regular;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: sourcesans-bold;
  src: url("../fonts/SourceSansPro-Bold.ttf");
}
.container.fundo-tecnicos{
  background: url("../imgs/background.png");
  background-attachment: fixed;
  background-size: cover;
}
.paginas{
  background: url("../imgs/background.png");
  background-attachment: fixed;
  background-size: cover;
}
html{scroll-behavior: smooth;}
.topo{
  margin-top: 30px;
}
.elemento1{margin-left: -33%;}
.elemento2{
  margin-top: 40px;
  margin-left: -15%;
}
.topo .titulo{
  margin-top: 20%;
}
.fundo-tecnicos{padding-top: 30px;}
.container header{margin-top: 100px;}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
p,
li,
a,
td {
  font-family: sourcesans-regular;
  font-size: 16px;
}
h2,
h3,
h4,
h5 {
  font-family: sourcesans-bold;
  color: #ffff;
}
.citacao p {
  font-size: 15px;
  margin: 0;
}
p{
  margin-top: 5%;
  color: #ffff;
  word-wrap: break-word;

}
.referencias{
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all; 
}

