h1,
h3,
h2,
h4 {
  color: #66a1a1;
  font-weight: bold;
}

p {
  font-size: 20px;
  word-wrap: break-word;
}
.item p{
  color: #000;
}
h2 {
  font-size: 40px;
  margin-bottom: -30px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

.margem-b1 {
  margin-bottom: 80px;
}

.titulo-claro {
  color: #fff;
  font-weight: bold;
}

.grupo-imprimir button.bto-imprimir {
  margin-top: 40px;
}

.img-flutuante {
  animation: flutua infinite 2s ease-in-out;
  position: absolute;
  width: 15%;
  top: 50px;
}

.img-flutuante.direita {
  top: -30px;
}

.img-flutuante.esquerda {
  top: -30px;
}

@keyframes flutua {
  50% {
    transform: translateY(30px)
  }
}

.rotate-center {
  animation: rotate-center 60s linear infinite both
}
.modal-body {
  background: url("../imgs/bg_modal.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.modal-body h3 {
  border-bottom: 2px solid #66a1a1;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}
.botao {
  background: url("../imgs/modal_fechar.png");
  width: 238px;
  height: 76px;
  border: none;
}

.botao:hover {
  background: url("../imgs/modal_fechar_hover.png");
  width: 238px;
  height: 76px;
  border: none;
}


.bloco-1 {
  background-image: url("../imgs/bg1_full.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
  padding-bottom: 10px;
  z-index: 90;
  position: relative;

}

.b1 {
  background-color: #fff4e8;
  max-width: 1200px;
  padding: 20px 0;
  margin-bottom: 80px;
  box-shadow: 10px 10px 0px 0px rgba(219, 199, 178, 0.75);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(219, 199, 178, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(219, 199, 178, 0.75);
}

.b1 .container {
  max-width: 700px;
  margin-right: 40px;
}

.bloco-2 {
  background-image: url("../imgs/BG2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-position: top center;
  position: relative;
  padding: 30px 0;

}

.bloco-3 {
  background-image: url("../imgs/BG3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bloco-4 {
  background-image: url("../imgs/BG3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  padding: 30px 0;
}

.bloco-5 {
  background: linear-gradient(#663a2f, #2e6866);
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bloco-6 {
  background-image: url("../imgs/BG4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bloco-7 {
  background-image: url("../imgs/BG5_full.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
}

.b7 {
  background-color: #fff4e8;
}

.divisoria-1 {
  width: 100%;
  height: 10px;
  background-color: #9d7d47;
  z-index: 90;
  position: relative;
}

.divisoria-2 {
  width: 100%;
  height: 15px;
  background: linear-gradient(#321c17, #163332);
}

.divisoria-3 {
  background: url("../imgs/img_bg4.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;

}

.b2 {
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1200px !important;
  padding: 100px;
}
button.close {
  background: url(../imgs/ico_fechar.png) no-repeat;
  width: 101px;
  height: 101px;
  opacity: unset;
}
.b6 {
  background-color:rgba(255,255,255,0.9);
  padding: 100px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.seta-topo {
  background: url("../imgs/ico_topo.png");
  background-repeat: no-repeat;
  width: 129px;
  height: 130px;
  border: none;
}



/* Personalização slideshow */
.carousel {
  background-color: #fff;
  width: 820px;
  height: 670px;
  border-radius: 30px;
  margin-bottom: 80px;
}

/* Fim personalização slideshow */
/* Personalização painel gaitinha */
.panel-group {
  color: #000;
  border-radius: 20px;
  margin: 50px 0;
}
.panel-body {
  background-color: #fff;
  padding: 15px 30px;
}

.panel-title {
  color: #fff;
  font-weight: bold;
}

.panel-default {
  border-color: #bd3d33;
}
.panel-heading {
  background-color: #bd3d33 !important;
  padding: 10px 10px !important;
  border-bottom: 1px solid #bd3d33 !important;
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}

.collapsed {
  content: "";
  width: 14px;
  height: 7px;
  background: url(../imgs/painel_abre.png) no-repeat;
  margin-right: 10px;
  background-position: right;
}

/* background: url(../imgs/painel_recolhe.png) no-repeat;
  margin-right: 10px;
  background-position: right; */




.collapsed:hover {
  color: none;
  text-decoration: none;
}

/* Fim personalização painel gaitinha */


/* Botões do painel clicável com modal 100% */
.painel1 {
  background-image: url(../imgs/painel_fundo.png);
  width: 992px;
  height: 590px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn {
  width: 165px;
  height: 220px;
  border: none;
  float: left;
}

.bt-1 {
  background: url('../imgs/painel_bt1.png') no-repeat;
}

.bt-2 {
  background: url('../imgs/painel_bt2.png') no-repeat;
}

.bt-3 {
  background: url('../imgs/painel_bt3.png') no-repeat;
}

.bt-4 {
  background: url('../imgs/painel_bt4.png') no-repeat;
}

.bt-5 {
  background: url('../imgs/painel_bt5.png') no-repeat;
}

.bt-6 {
  background: url('../imgs/painel_bt6.png') no-repeat;
}

.bt-7 {
  background: url('../imgs/painel_bt7.png') no-repeat;
}

.bt-8 {
  background: url('../imgs/painel_bt8.png') no-repeat;
}

.bt-9 {
  background: url('../imgs/painel_bt9.png') no-repeat;
}

.bt-10 {
  background: url('../imgs/painel_bt10.png') no-repeat;
}

.bt-1:hover {
  background: url('../imgs/painel_bt1_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-2:hover {
  background: url('../imgs/painel_bt2_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-3:hover {
  background: url('../imgs/painel_bt3_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-4:hover {
  background: url('../imgs/painel_bt4_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-5:hover {
  background: url('../imgs/painel_bt5_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-6:hover {
  background: url('../imgs/painel_bt6_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-7:hover {
  background: url('../imgs/painel_bt7_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-8:hover {
  background: url('../imgs/painel_bt8_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-9:hover {
  background: url('../imgs/painel_bt9_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-10:hover {
  background: url('../imgs/painel_bt10_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

/* Fim botões do painel clicável com modal 100% */
/* Botão espera objeto */
.bto {
  width: 532px;
  height: 269px;
  border: none;
}

.bt-objeto {
  background: url('../imgs/bt_objeto.png') no-repeat;
}

.bt-objeto:hover {
  background: url('../imgs/bt_objeto_hover.png') no-repeat;
}

.bto_mob {
  width: 288px;
  height: 147px;
  border: none;
}

.bt-objeto_mob {
  background: url('../imgs/mob_bt_objeto.png') no-repeat;
}

.bt-objeto_mob:hover {
  background: url('../imgs/mob_bt_objeto_hover.png') no-repeat;
}

/* Fim botão espera objeto */

.rellax-1 {
  left: 290px;
}

.rellax-2 {
  left: -38px;
}

.rellax-3 {
  left: 142px;
}

.rellax {
  width: 16%;
  position: absolute;
  z-index: 10;
}

.rellax-4 {
  right: 385px;
}

.rellax-5 {
  width: 19%;
  right: -20px;
}

.rellax-6 {
  right: 344px;
  width: 12%;
}

.rellax-7 {
  width: 10%;
  right: 214px;
}

.painel1 {
  background-image: url(../imgs/painel_fundo.png);
  width: 992px;
  height: 590px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 2000px) {
  .b1 {
    max-width: 60%;
  }
}

@media screen and (max-width: 1920px) {
  .rellax-1 {
    left: -9px;
  }

  .rellax-3 {
    left: 19px;
    top: 1089px;
  }

  .rellax-2 {
    left: -41px;
    top: 1088px;
  }

  .rellax-5 {
    width: 15%;
    right: 10px;
    top: 1090px;
  }

  .rellax-6 {
    right: 49px;
    width: 12%;
    top: 1088px;
  }

  .rellax-7 {
    width: 10%;
    right: -5px;
    top: 1092px;
  }

  .rellax-4 {
    width: 10%;
    right: 80px;
  }

}
@media screen and (min-width: 1209px) and (max-width:1520) {









  

}

@media screen and (max-width: 780px) {
  .parallax {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .painel1 {
    background-image: unset;
    display: flex;
    width: unset;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .bloco-3 {
    background-image: unset;
    background-size: unset;
    background-repeat: unset;
    background-attachment: unset;
    background-color: #faf8f7;

  }

  .bloco-1 {
    background-image: unset;
    background-size: unset;
    background-repeat: unset;
    padding-top: 108px;
    background-color: #fff;
    opacity: 90%;
  }










}