h1,
h3,
h4 {
  color: #688c85;
  font-weight: bold;
  font-size: 46px;
}

p {
  font-size: 20px;
  word-wrap: break-word;
}
h2 {
  color: #66a1a1;
  font-weight: bold;
  font-size: 50px;
}

.titulo-claro {
  color: #fff;
  font-weight: bold;
}

.bloco-1 {
  background-image: url("../imgs/BG1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 108px;

}

.bloco-2 {
  background-image: url("../imgs/BG2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

}

.bloco-3 {
  background-image: url("../imgs/BG3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.bloco-4 {
  background-image: url("../imgs/bg_modal.png");
  background-size: cover;
  background-repeat: no-repeat;

}

.bloco-5 {
  background: linear-gradient(#663a2f, #2e6866);
  color: #fff;

}

.bloco-6 {
  background-image: url("../imgs/BG4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.bloco-7 {
  background-image: url("../imgs/BG5.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.divisoria-1 {
  width: 100%;
  height: 10px;
  background-color: #9d7d47;
}

.divisoria-2 {
  width: 100%;
  height: 15px;
  background: linear-gradient(#321c17, #163332);
}

.divisoria-3 {
  background: url("../imgs/img_bg4.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;

}

.b2 {
  background-color: #000;
  opacity: 90%;
}


.b6 {
  background-color: #fff;
  opacity: 90%;
  padding-top: 20px;
}

.seta-topo {
  background: url("../imgs/ico_topo.png");
  background-repeat: no-repeat;
  width: 129px;
  height: 130px;
  border: none;
  transition: ease-in;
}

/* Personalização slideshow */
.carousel {
  background-color: #fff;
  width: 820px;
  height: 670px;
  border-radius: 30px;
  margin-bottom: 80px;
}
/* Fim personalização slideshow */
/* Personalização painel gaitinha */
.panel-group {
  color: #000;
  border-radius: 20px;
}

.panel-body {
  background-color: #fff;
}

.panel-title {
  color: #fff;
  font-weight: bold;
}

.panel-default {
  border-color: #bd3d33;
}

.panel-heading {
  background-color: #bd3d33 !important;
  padding: 10px 10px !important;
  border-bottom: 1px solid #bd3d33 !important;
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}

.collapsed:hover {
  color: none;
  text-decoration: none;
}

/* Fim personalização painel gaitinha */


/* Botões do painel clicável com modal 100% */
.painel1 {
  background-image: url(../imgs/painel_fundo.png);
  width: 992px;
  height: 590px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn {
  width: 165px;
  height: 220px;
  border: none;
  float: left;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
}

.bt-1 {
  background: url('../imgs/painel_bt1.png') no-repeat;
}

.bt-2 {
  background: url('../imgs/painel_bt2.png') no-repeat;
}

.bt-3 {
  background: url('../imgs/painel_bt3.png') no-repeat;
}

.bt-4 {
  background: url('../imgs/painel_bt4.png') no-repeat;
}

.bt-5 {
  background: url('../imgs/painel_bt5.png') no-repeat;
}

.bt-6 {
  background: url('../imgs/painel_bt6.png') no-repeat;
}

.bt-7 {
  background: url('../imgs/painel_bt7.png') no-repeat;
}

.bt-8 {
  background: url('../imgs/painel_bt8.png') no-repeat;
}

.bt-9 {
  background: url('../imgs/painel_bt9.png') no-repeat;
}

.bt-10 {
  background: url('../imgs/painel_bt10.png') no-repeat;
}

.bt-1:hover {
  background: url('../imgs/painel_bt1_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-2:hover {
  background: url('../imgs/painel_bt2_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-3:hover {
  background: url('../imgs/painel_bt3_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-4:hover {
  background: url('../imgs/painel_bt4_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-5:hover {
  background: url('../imgs/painel_bt5_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-6:hover {
  background: url('../imgs/painel_bt6_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-7:hover {
  background: url('../imgs/painel_bt7_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-8:hover {
  background: url('../imgs/painel_bt8_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-9:hover {
  background: url('../imgs/painel_bt9_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

.bt-10:hover {
  background: url('../imgs/painel_bt10_hover.png') no-repeat;
  cursor: pointer;
  margin-top: -20px;
}

/* Fim botões do painel clicável com modal 100% */
/* Botão espera objeto */
.bto {
  width: 532px;
  height: 269px;
  border: none;
}

.bt-objeto {
  background: url('../imgs/bt_objeto.png') no-repeat;
}

.bt-objeto:hover {
  background: url('../imgs/bt_objeto_hover.png') no-repeat;
}

.bto_mob {
  width: 288px;
  height: 147px;
  border: none;
}

.bt-objeto_mob {
  background: url('../imgs/mob_bt_objeto.png') no-repeat;
}

.bt-objeto_mob:hover {
  background: url('../imgs/mob_bt_objeto_hover.png') no-repeat;
}

/* Fim botão espera objeto */

.rellax-1 {
  left: 290px;
}

.rellax-2 {
  left: -38px;
  top: 1080px;
}

.rellax-3 {
  left: 142px;
  top: 1092px;
}

.rellax {
  width: 16%;
  position: absolute;
  z-index: 10;
}

.rellax-4 {
  right: 385px;
}

.rellax-5 {
  width: 19%;
  right: -20px;
  top: 1090px;
}

.rellax-6 {
  right: 344px;
  width: 12%;
  top: 1088px;
}

.rellax-7 {
  width: 10%;
  right: 214px;
  top: 1092px;
}

.painel1 {
  background-image: url(../imgs/painel_fundo.png);
  width: 992px;
  height: 590px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 1920px) {
  .rellax-1 {
    left: -9px;
  }

  .rellax-3 {
    left: 19px;
    top: 1089px;
  }

  .rellax-2 {
    left: -41px;
    top: 1088px;
  }

  .rellax-5 {
    width: 15%;
    right: 10px;
    top: 1090px;
  }

  .rellax-6 {
    right: 49px;
    width: 12%;
    top: 1088px;
  }

  .rellax-7 {
    width: 10%;
    right: -5px;
    top: 1092px;
  }

  .rellax-4 {
    width: 10%;
    right: 80px;
  }

}

@media screen and (max-width: 780px) {
  .parallax {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .painel1 {
    background-image: unset;
    display: flex;
    width: unset;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .bloco-3 {
    background-image: unset;
    background-size: unset;
    background-repeat: unset;
    background-attachment: unset;
    background-color: #faf8f7;

  }

  .bloco-1 {
    background-image: unset;
    background-size: unset;
    background-repeat: unset;
    padding-top: 108px;
    background-color: #fff;
    opacity: 90%;
  }










}