#booklet .paginas .pagina {
  display: block !important;
}

body {
  background-color: #f2f2f2
}

div#booklet {
margin-top: 80px;
max-width: 900px;
margin-left: auto;
margin-right: auto;
}


h1 {
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 10px;
      font-size: 25pt;
}
h2 {
  font-size: 22pt;

}
h3 {
  font-size: 20pt;
}
h4 {
  font-size: 18pt;
}
h5 {
  font-size: 16pt;
}

.pagina {
    border-top: 50px solid #f2f2f2;
    background-color: white;
    padding: 50px;

}
.pagina:nth-child(2) {
    border-top: 0px none;
    padding-top: 0px;
}
#booklet h1 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-top: 60px;
  margin-bottom: 40px;
  }


p{
	font-size:12pt;
	font-family:'robotoregular', Arial , Verdana, Helvetica;
	margin:1.4em 0 1.4em 0;
	line-height:1.7em;
}
.ico-div-loader {
  position: absolute;
  left: -100%;
  width: 1px;
  height:1px;
  overflow: hidden;

}

h1,h2,h3,h4,h5{

}
h4{
	margin-top:1.5em;
	margin-bottom:2.5em;
}
ul,ol{
	font-size:1.2em;
	margin-bottom:2em;
	margin-left:1.7em;
}
ul * {
	font-size:inherit;
}

ol * {
	font-size:inherit;
}
li{
	margin-bottom:0.8em;
	list-style-image:url(../images/marcador.png);
}
ol li{
	list-style-image:none;
}
table.senac {
	margin:0 1.5em 2em;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	border:6px solid;
	margin-top:2em;
	margin-bottom:2em;
}
button, a {
  outline:none !important
}
table.senac th{
	background-color:#8e44ad;
	text-align:center;
	padding:0.5em;
	border:1px solid;
}
table.senac td{
	text-align:center;
	padding:0.5em;
	border:1px solid;
	text-align:left;
}
header.senac{
	height:80px;
	z-index:99;
	margin-top:0;
	top:0;
	padding-top:0;
	position:absolute;
	width:100%;

}
.bg-topo-print
{
    z-index: 9999999999999999;
    position: fixed;
    top: 0px; left: 0px;
    width: 100%;
    height: auto;
    padding: 10px;
    color: white;
}

