h1,
h3,
h2,
h4 {
  color: #66a1a1;
  font-weight: bold;
}
p{
  font-size: 20px;
  word-wrap: break-word;
}
h2 {
  font-size: 38px;
  margin-bottom: -30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}
.bloco-1 > .container{
  max-width: 55%;
}
.panel-title a{transition: all .4s;}
.panel-title a.collapsed {
  background: url(../imgs/painel_abre.png) no-repeat !important;
  margin-right: 10px;
  background-position: right 100px center !important;
}
.panel-title a:not(.colapsed){
  background: url(../imgs/painel_recolhe.png) no-repeat;
  margin-right: 10px;
  background-position: right 100px center;
}
.titulo_branco h3 {
  color: #fff;
}

.titulo_escuro {
  color: #854c3c;
}
.panel-body p.legenda-imagem{
  margin-top: 0;
  padding: 10px;
}
.bloco-1 {
  background: url("../imgs/BG1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bloco-2 {
  background: url("../imgs/BG2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 50px;
  color: #fff;
  background-attachment: fixed;
  padding-bottom: 50px;
}

.bloco-3 {
  background: url("../imgs/BG3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 50px;
  background-attachment: fixed;
}

.bloco-4 {
  background: url("../imgs/BG4.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 50px;
  color: #fff;
}

.divisoria1 {
  width: 100%;
  height: 20px;
  background-color: #9d7d47;
}

.parallax {
  min-height: 400px;
  background: transparent;
  width: 100% !important;
}

.parallax1 {
  min-height: 300px;
  background: transparent;
  width: 100% !important;
}

.legenda1 {
  background-color: #3f1e12;
  width: 50%;
  height: 100%;
}

.legenda2 {
  background-color: #e8e0d1;
  width: 50%;
  height: 100%;
}

.barra1 {
  width: 100%;
  height: 110px;
  background-color: #230d06;
  text-align: left;
  margin-top: -52px;
}

.barra2 {
  width: 100%;
  height: 110px;
  background-color: #d9d1c1;
  text-align: center;
  padding-right: 577px;
  margin-top: -52px;
  padding-top: 30px;
}

.bg-painel1 {
  background-color: #000;
  /* opacity: 90%; */
}

.bg-painel2 {
  background-color: #c9bfb3;
  /* opacity: 90%; */
}

.painel_1 {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 16%, rgba(84,41,24,1) 12%, rgba(0,0,0,1) 110%);
  color: #fff !important;
  height: 80px;
  /* opacity: 80%; */
  border: 4px solid #ad803e !important;
}

.painel_2 {
  background: rgb(197,169,142);
  background: linear-gradient(90deg, rgba(197,169,142,1) 16%, rgba(84,41,24,1) 16%, rgba(0,0,0,1) 150%);
  color: #fff !important;
  height: 80px;
   opacity: 90%; 
  border: 4px solid #491b02 !important;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}

.titulo-painel1 {
  text-align: center;
  padding-right: 854px;
  margin-top: -14px;
  padding-top: 30px;
}

.titulo-painel {
  text-align: left;
  margin-top: -14px;
}

.titulo-painel2 {
  text-align: left;
  margin: auto;
  font-size: 20px;
  margin-top: -14px;
  padding-top: 30px;
  max-width: 990px;
  padding-left: 20px;
}

@media screen and (max-width: 1440px) {
  .b1 {
    width: 800px;
  }
  .painel_1{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(84,41,24,1) 0%, rgba(0,0,0,1) 110%);
  }
}

@media screen and (max-width: 1024px) {
  .b1 {
    width: 614px;
  }
  
}

@media screen and (max-width: 768px) {

  h1,
  h2,
  h3,
  h4 {
    margin: 15px;
  }
  h2{
    margin-top: 50px;
  }
  .bloco-1 {
    background: url("..//imgs/mob_bg1.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 50px;
    background-color: #fff;
  }
  .bloco-1 > .container{
    max-width: 85%;
  }

  .bloco-4 {
    background: unset;
    background-size: unset;
    background-repeat: unset;
    background-color: #333333;
  }

  .titulo-painel {
    text-align: unset;
    padding-right: unset;
    margin-top: unset;
    padding-top: unset;
  }

  .titulo-painel1 {
    text-align: unset;
    padding-right: unset;
    margin-top: unset;
    padding-top: unset;
  }

  .titulo-painel2 {
    text-align: unset;
    padding-right: unset;
    margin-top: unset;
    padding-top: unset;
  }

  .painel_1 {
    background: unset;
    background: linear-gradient(90deg, rgba(84,41,24,1) 16%, rgba(84,41,24,1) 16%, rgba(84,41,24,1) 150%);
    opacity: 80%; 
  }
  
  .painel_2 {
    background: unset;
    background-color:#542918;
    background: linear-gradient(90deg, rgba(84,41,24,1) 16%, rgba(84,41,24,1) 16%, rgba(84,41,24,1) 150%);
    opacity: none; 
  }

}

@media screen and (max-width: 600px) {
  .legenda1 {
    background-color: unset;
  }

  .legenda2 {
    background-color: unset;
  }

  .barra1 {
    width: unset;
    height: unset;
    text-align: unset;
    padding-right: unset;
    margin-top: -50px;
  }

  .barra2 {
    width: unset;
    height: unset;
    text-align: unset;
    padding-right: unset;
    margin-top: -50px;
  }

}